@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

.super_parent_container{
    background-color: #1E1F20;
    height: 100vh;
    width: 100vw;
    color: #E3E5E4;
}
